body{
    background-color: #F0EEED;
    color : #332C39;
    padding-top : 5em
}
h1{
    text-align : center;
    /* margin-bottom : 2em;
    margin-top : 5em; */
    
}
form{
    background-color: #609EA2;
    padding : 2em 2em 5em 2em;
    text-align: center;

    width : 50%;
    margin : 7% 19% 10% 19%;
}
#sub{
    margin-top : 1em;
    border-radius: 15%;
}
table{
    margin : auto
}